<p id="notice"><%= notice %></p>

<h1>Listing Links</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @links.each do |link| %>
      <tr>
        <td><%= link.title %></td>
        <td><%= link.url %></td>
        <div class="btn-group">
  <a class="btn btn-default btn-sm" href="<%= link.url %>">Visit Link</a>
  <%= link_to like_link_path(link), method: :put, class: "btn btn-default btn-sm" do %> <br>
   
    <span class="glyphicon glyphicon-chevron-up"></span>
    Upvote
    <%= link.get_upvotes.size %>
  <% end %>
  <%= link_to dislike_link_path(link), method: :put, class: "btn btn-default btn-sm" do %>
    <span class="glyphicon glyphicon-chevron-down">
    Downvote
    <%= link.get_downvotes.size %>
  <% end %>
</div>
        <td><%= link_to 'Show', link %></td>
     <% if @link == current_user %>
      <td><%= link_to 'Edit', edit_link_path(link) %></td>
        <td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Link', new_link_path %>
